.background-detail{
    z-index: 10;
}

.background-detail.blue{
    position: absolute;
    margin-top: -200px;
    margin-left: 5%;
}

.background-detail.yellow{
    position: absolute;
    right: 0;
}

.background-detail.logo{
    position: absolute;
    right: 0;
    margin-right: calc(24vw - 95px);
    margin-top: 150px;
}
