.main-header {
    background-color: #0B0607;
    padding: 10px 20px;
}

.headercontainer{
    width: 95%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
