.main-section{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Anonymous Pro', monospace;
    background-color: #000;
}

.main-section.black{
    color: #FFF;
}

.main-section .white-section{
    padding: inherit;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FFF;
    width: 76%;
}

.main-section .container{
    width: max-content;
    margin: 100px auto;
}

.main-section.final{
    background-image: url("../assets/img/contacs.jpg");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right center ;
}

.main-section .white-section.final{
    padding-top: 200px;
    padding-bottom: 200px;
}