.main-action{
    display: inline-flex;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    align-items: center;
    color: #FEFEFF;
    margin-left: 30px;
}

.main-action::before{
    content: url("../../assets/img/puzzleSmallYellow.png");
    margin-right : 10px;
}

.main-action:hover{
    transform: translateY(2px);
}