.main-banner{
    width: 100%;
    height: 95vh;
    background-image: url("../../assets/img/pexels-negative-space-160107\ 2.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: #000;

}

.main-banner .profile{
   margin-left: auto;
   margin-right: auto;
}

.main-banner .title{
    font-family: 'Aldrich', sans-serif;
    font-size: 96px;
    margin-bottom: 15px;
}

.main-banner .subtitle{
    font-family: 'Anonymous Pro', monospace;
    font-size: 48px;

}

